


<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

  <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
    <img src="assets/fotoperfil.jpg" alt="" class="img-fluid" id="fotoperfil">
  </div>

  <div class="col-xs-10 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Castro Rafael Armando</p>
    <p>Full Stack Developer Jr</p>
  </div>

  <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
    <span>
      <h1>Acerca de mí</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab deleniti dignissimos, dolorem esse iusto laborum neque officiis reiciendis saepe sapiente sit veniam? Dolor ex ipsum maxime molestiae numquam quisquam veritatis?</p>
    </span>
  </div>

  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>



