
<div class="container">

  <div class="row">
    <div>
    <a href="https://www.facebook.com/RAFOSSS"><img src="assets/facebook.png" id="facebook" class="rounded float-end"></a>
    <a href="https://github.com/rafssscas"><img src="assets/github.png" id="github" class="img-fluid" class="rounded float-end"></a>
    <a href="https://www.instagram.com/rafsss_cs/"><img src="assets/instagram.png" id="instagram" class="img-fluid" class="rounded float-end"></a>
    <a href="https://www.linkedin.com/in/rafael-ar-castro/"><img src="assets/linkedin.png" id="linkedin" class="img-fluid" class="rounded float-end"></a>
    </div>
  </div>

</div>
